* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4CAF4F;
  --dark: #263238;
  --gray: #717171;
  --light: #f5f7fa;
  --white: #ffffff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
  background-color: var(--white);
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  background: var(--white);
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 20px 0;
}

.nav-links li a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
}

.nav-links li a:hover {
  color: var(--primary);
}

.btn-primary-a {
  margin-left: auto;
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
}

.btn-primary-b {
  background: var(--primary);
  color: var(--white);
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  
}

.hero_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 80px 10%;
  background: var(--light);
  gap: 40px;
}

.hero_container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 80px 10%;
  background: var(--white);
  gap: 40px;
  
}

.hero-text h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-text p {
  color: var(--gray);
  margin-bottom: 30px;
}

.btn-primary {
  background: var(--primary);
  color: var(--white);
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
}

.services {
  padding: 80px 0;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-bottom: 40px;
}

.logitos{
    display: flex;
    justify-content: space-between;
    padding: 5% 5%;
    
}
.tim{
    color: var(--primary);
}

.service-card {
  background: var(--white);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.section-title {
  margin-bottom: 10px;
}

.about-text {
    text-align: center;
    margin-block: 15%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: var(--light);
    border-radius: 10px;
}

.about-img {
  margin: auto;
  margin-bottom: 20px;
}

.about-img-3 {
  margin: auto;
  margin-bottom: 20px;
}

.portfolio {
  padding: 80px 0;
}

.portafolio-grid {
  background: var(--light);
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(50px, 20px));
  gap: 30px;
  margin-bottom: 40px;
  background-color: var(--white);
  margin: auto;
  background: var(--white);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}


.comun-dos h2{
    font-size: 40px;
  margin-bottom: 20px;
}

.comun-dos p {
  color: var(--gray);
  margin-bottom: 30px;
}


.btn-secondary {
  justify-content: center;
  background: var(--primary);
  color: var(--white);
  padding: 10px 22px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}

.qnt h2 {
  font-size: 30px;
}

.qnt-dos {
  background: var(--light);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.nvn {
  text-align: center;
}

.nvn-dos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.about-img-4 {
  margin: auto;
  margin-bottom: 20px;
  justify-content: center;
  background: var(--gray);
  height: 180px;
  border-radius: 8px;
}

.footer {
    background: var(--dark);
    color: #fff;
    text-align: center;
    padding: 20px;
}


.foot__search {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 40%;
}

@media (max-width: 768px) {
  .hero_container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-primary-a {
    margin-left: 0;
  }
}